html{
    height: 100%;
}
body{
    display: grid;
    place-items: center;
    background-image:url('/public/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Inter', sans-serif;
}
main{
    width: clamp(50ch, 50%, 75ch);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: white;
    border-radius: 5%;
}

h1 {
    text-align: center;
}
img {
    max-width: 75%;
    margin: 0 auto;
}

p {
    font-size: 0.8rem;
    line-height: 1.5;
}

p.sample-json{
    margin: 1rem auto;
    padding: 1rem;
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
}